<launch>
  <arg name="world_type" default="warehouse"/> <!-- warehouse or campus -->
  <arg name="gui" default="true"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <!-- Warehouse World Simulation -->
  <group if="$(eval arg('world_type') == 'warehouse')">
    <include file="$(find autocar_gazebo)/launch/car_gazebo.launch">
      <arg name="gui" value="$(arg gui)"/>
    </include>
  </group>

  <!-- Campus World Simulation -->
  <group if="$(eval arg('world_type') == 'campus')">
    <include file="$(find autocar_gazebo)/launch/campus_world.launch">
      <arg name="gui" value="$(arg gui)"/>
    </include>
    <include file="$(find autocar_gazebo)/launch/spawn_ackermann.launch">
      <arg name="x" value="$(arg initial_pose_x)"/>
      <arg name="y" value="$(arg initial_pose_y)"/>
      <arg name="yaw" value="$(arg initial_pose_a)"/>
    </include>
  </group>
</launch>
