<launch>
  <!-- Spawn Pose parameters - defaults to Main Entrance Gate -->
  <arg name="x" default="-370.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.2"/>
  <arg name="yaw" default="0.0"/>

  <!-- Load PID gains for closed-loop velocity control -->
  <rosparam file="$(find autocar_navigation)/config/controllers/pid_gains.yaml" />

  <!-- Load controller configurations -->
  <rosparam file="$(find autocar_navigation)/config/controllers/car_controllers.yaml" />

  <!-- Load URDF -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find autocar_description)/urdf/car.xacro'"/>

  <!-- Spawn robot in Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description -urdf -model autocar -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)" />

  <!-- Spawn controllers (joint_state_controller and the 6 Ackerman joint controllers) -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen"
        args="joint_state_controller 
              front_left_wheel_velocity_controller 
              front_right_wheel_velocity_controller 
              rear_left_wheel_velocity_controller 
              rear_right_wheel_velocity_controller 
              front_left_steering_position_controller 
              front_right_steering_position_controller"
        launch-prefix="bash -c 'sleep 2; $0 $@'"/>

  <!-- Robot State Publisher to publish TF transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen" />

  <!-- Ackerman steering control mapper & odometry publisher -->
  <node name="ackermann_controller" pkg="autocar_navigation" type="ackermann_controller" output="screen">
    <remap from="/cmd_vel" to="/cmd_vel_to_controller"/>
  </node>

  <!-- Goal Stop Manager -->
  <node name="goal_stop_manager" pkg="autocar_navigation" type="goal_stop_manager" output="screen" respawn="true" />
</launch>
