<?xml version="1.0"?>
<model>
  <name>campus_bench</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Mahboob Alam</name>
    <email>ma.mahboob2002@gmail.com</email>
  </author>
  <description>A simple park bench for campus sitting areas.</description>
</model>
